
.sidebar{
  background-color: rgb(255, 255, 255);
  width: 10%;
  height: 36rem;
  padding: .5rem;
  display: block;
  margin: 0rem;
  box-shadow: 3px 2px 12px #888888;
}
.body{
  display: flex;
}
.sidebar li{
  padding: .2rem;
  margin : 2rem 0rem;
  color : rgb(0, 0, 0);
  box-sizing: border-box;
  border : 1px solid black;
  text-align: left;
}
.header{
  float: right;
}

